.movieDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.movieDetailsWrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.moviePoster {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.movieInfo {
  max-width: 600px;
  font-size: 16px;
  margin-bottom: 8px;
}

.h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.backButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backButton:hover {
  background-color: #0056b3;
}

.a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.a:hover {
  text-decoration: underline;
}
